.wordle-container {
  width: 100vw;
  height: 100vh;

  background-color: #121213;
}

.wordle-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 140px);
}

.wordle-row {
  display: flex;
  flex-direction: row;
}

.wordle-letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 58px;
  margin: 3px;

  color: #d7dadc;
  font-size: 32px;
  font-weight: bold;

  border: 2px solid #3a3a3c;

  transition: all 0.2s;
}

.wordle-letter-1 {
  background-color: #3a3a3c;

  border-color: #3a3a3c;
}

.wordle-letter-2 {
  background-color: #b59f3b;

  border-color: #b59f3b;
}

.wordle-letter-3 {
  background-color: #538d4e;

  border-color: #538d4e;
}

.wordle-keyboard {
  position: absolute;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.keyboard-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 6px;
}

.keyboard-letter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 58px;
  margin: 0 6px 0 0;

  color: #d7dadc;

  background-color: #818384;

  border-radius: 4px;

  cursor: pointer;
}

.keyboard-letter-ENTER,
.keyboard-letter-DELETE {
  width: 65px;
}
